*
!.git
!app
!bin
!config
!db
!docker/dockerfiles/rails/entrypoint.sh
!Procfile
!lib
!spec
!public/*.html
!public/*.png
!public/favicon.ico
!public/robots.txt
!public/sitemap.xml.gz
!config.ru
!Gemfile
!Gemfile.lock
!package.json
!yarn.lock
!.postcssrc.yml
!.babelrc
!Rakefile